
header{

  background-color: $black-grey;
  opacity: 0.9;

  width: 100vw;

  //--Fait par Felix--//
#open-menu{
  display: none;
}
  //--Fin fait par Felix--//


  nav{

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    .show-menu, .close-menu, .toggle-menu{
      display: none;
    }

    img.menu_mobile{
    display: none;
    }

    img{
      width: 202px;
      height: 87px;
    }

    // Animation des liens du menu
    .snip1217 {
      text-align: center;
      letter-spacing: 1px;

      margin: 0;
      padding-right: 20px;

      display: flex;
      align-items: center;
    }
    .snip1217 * {
      box-sizing: border-box;
      transition: all 0.35s ease;
    }
    .snip1217 li {
      display: inline-block;

      list-style: outside none none;

      margin: 0.5em 1.5em;
      padding: 0 20px;
    }
    .snip1217 a {
      padding: 0.3em 0;

      color: $white-grey;
      text-decoration: none;

      position: relative;

      display: inline-block;
    }
    .snip1217 a:before,
    .snip1217 a:after {
      height: 3px;

      position: absolute;

      content: '';

      transition: all 0.35s ease;

      background-color: $white-grey;

      width: 0;
    }
    .snip1217 a:before {
      top: 0;
      left: 0;
    }
    .snip1217 a:after {
      bottom: 0;
      right: 0;
    }
    .snip1217 a:hover,
    .snip1217 .current a {
      color: #ffffff;
    }
    .snip1217 a:hover:before,
    .snip1217 .current a:before,
    .snip1217 a:hover:after,
    .snip1217 .current a:after {
      width: 100%;
    }

    .commander{
      background-color: $red;
      color: $white-grey;

      padding: 10px 20px;
    }

    .commander:hover{
      background-color: $white-grey;
      color: $red;
      transition: 0.3s ease-in;
    }

    .langue{
      color: $white-grey;

      border: solid 1px $white-grey;
      padding: 2px 5px;

      position: absolute;
      right: 50px;

      font-size: $fz-small;
    }


  }

}

//---Fait Par Felix---//

div.menu-mobile{
  width: 100vw;
  height: 100vh;
  background-color: #1D1D1D;
  position: absolute;
  z-index: 9000;
  display: none;
  align-items: center;
  justify-content: center;

  i{
    position: absolute;
    top: 70px;
    right: 10%;
  }


  ul{
    height: 60%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;

    li{
      a{
        color: #EFF0F4;
        font-family: $ff-title;
      }
    }
    li#commander-mobile{
       background-color: #BF0628;
      padding: 10px;

      a{
        font-family: $ff-normal;
      }

     }

    li#langue-mobile{
      border: 2px solid #EFF0F4;
      padding: 4px 8px;
      text-align: center;
    }


  }
}

//--Fin fait par Felix--//

@media screen and (max-width: $vw-medium) {
 header{

   #open-menu{
     display: revert;
   }

   nav{

     width: 90%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;

     .menu_mobile{
       display: flex;
       width: 100vw;
       height: 100vh;
     }

     .show-menu{
       display: flex;
       order:1;

       i{
         font-size: 24px;

         padding-left: 250px;
       }
     }

     .close-menu{
       i{
         font-size: 30px;

         position: relative;
         top:-380px;
         left: 240px;
       }
     }

     ul.snip1217{
       display: flex;
       flex-direction: column;

       width: 50%;
       li{

         padding: 0;
         display: none;

         a{
            position: relative;
            left:-240px;

         }
       }

       img{
         //margin-left: -350px;
         //Fait Par Felix
       }
     }

     a{
       display: none;
     }
   }
 }
}


@media screen and (max-width: $vw-small) {

  header{
    nav{
      .show-menu{
        display: flex;
        order:1;

        i{
          font-size: 24px;

          padding-left: 0;
          margin-right: 100px;
        }
      }

      ul.snip1217{
        img{
          width: 175px;
          height: 70px ;

          position: relative;
          left: 25%;
        }
      }
    }
  }

}