section.contact{
  background-color: white;

  margin-top: 5%;
  padding-bottom: 15%;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  div.un-contact{
    background-color: $white-grey;
    color: $black-grey;

    width: 44%;

    padding: 20px;
    margin-top: 5%;

    display: flex;

    div.info-contact{

      border-right: solid $red 2px;

      img{
        width: 5%;
        height: 5%;

        margin-right: 25px;
      }

      div.adresse img{
        width: 6%;
        height: 6%;
      }

      div.adresse, div.phone, div.email{
        display: flex;
        align-items: center;

        padding-bottom: 20px;

        p{
          width: 50%;
        }
      }

    }

    div.heures{

      padding-left: 50px;

      h3{
        font-size: $fz-normal;

        padding: 20px 0;
      }

      div.premier-heure, div.deuxieme-heure{
        margin-bottom: 10px;
      }

    }


    h1{
      color:$red;

      font-size: $fz-h3;
    }

    h2{
      padding-bottom: 40px;
    }


    p{
      font-size: rem(18);
    }

    h1,h2,h3, p{
      margin: 0;
    }

  }

}
