section.commande-menu{
  margin-left: auto;
  margin-right: auto;
  width: 85vw;
  height: 305vh;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  div.container, div.container-double{
    width: 43%;
    position: relative;


    div.contour{

    width: 89%;
    height: 78%;
    border: 10px solid var(--color-Bleu);

  }

    div.contenu{
      width: 89%;
      height: 78%;
      background: #EFF0F4;
      border: 1px solid #adadb0;
      position: absolute;
      bottom: 4%;
      right: 4%;
      font-family: $ff-normal;
      color: var(--color-Noir);

      div.commande-item{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 5%;
      }

      div.rangee{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h4{
          margin: 0;
          font-family: $ff-normal;
          font-size: rem(40);
        }

        div.compteur{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 28%;
          position: relative;
          bottom: 5%;

          div.nombre{
            width: 57px;
            height: 57px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-Noir);
            border-radius: 50%;
            color: white;
            font-family: Lato;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px;
            letter-spacing: 0em;
            text-align: left;


          }


          div.retirer, div.ajouter{
            width: 39px;
            height: 39px;
            border: 3px solid rgba(191, 6, 40, 0.5);
            color: rgba(191, 6, 40, 0.5);
            font-weight: 700;
            font-size: rem(25);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          div.ajouter{
            border: 3px solid var(--color-Rouge);
            color: var(--color-Rouge);
            font-weight: 900;
            font-size: rem(25);
          }

          p{
            margin: 0;
          }
        }
      }

      h5.commande-prix{
        font-family: $ff-normal;
        font-weight: 900;
        position: relative;
        left: 0;
        bottom: 8%;
        width: 13%;
        border-top: 3px solid #BF0628;
        padding-top: 2.5%;
        font-size: rem(20);
        font-weight: 800;
      }

      h5{
        font-family: $ff-normal;
        font-weight: 400;
      }
    }
  }

  div.container-petit{
    height: 9.1%;
  }

  div.container-medium{
    height: 17%;

    div.contenu{
      bottom: 12.5%;

      div.item-medium{
        height: 50%;

        div.liste-types{
          display: flex;
          flex-direction: row;
          width: 100%;

          div.item-type{
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-left: 3%;

            h5.item-type{
              margin: 12% 0 0;
            }

            h5.commande-prix{
              margin: 15% 0;
            }
          }

          div.compteurs{
            display: flex;
            width: 50%;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;
            height: 100%;
            position: relative;
            bottom: 12%;

          }

          div.compteur{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            position: relative;
            margin: 15% 0 15% 0;
            width: 60%;

            div.nombre{
              width: 57px;
              height: 57px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: var(--color-Noir);
              border-radius: 50%;
              color: white;
              font-family: Lato;
              font-size: 28px;
              font-style: normal;
              font-weight: 400;
              line-height: 34px;
              letter-spacing: 0em;
              text-align: left;

            }


            div.retirer, div.ajouter{
              width: 39px;
              height: 39px;
              border: 3px solid rgba(191, 6, 40, 0.5);
              color: rgba(191, 6, 40, 0.5);
              font-weight: 700;
              font-size: rem(25);
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            div.ajouter{
              border: 3px solid var(--color-Rouge);
              color: var(--color-Rouge);
              font-weight: 900;
              font-size: rem(25);
            }

            p{
              margin: 0;
            }
          }
        }
      }
    }
  }

  div.container-large{
    height: 22%;

    div.contenu{
      bottom: 15%;

      div.item-large{
        height: 50%;

        div.liste-types{
          display: flex;
          flex-direction: row;
          width: 100%;

          div.item-type{
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-left: 3%;

            h5.item-type{
              margin: 6.5% 0 0;
            }

            h5.commande-prix{
              margin: 15% 0;
            }
          }

          div.compteurs{
            display: flex;
            width: 50%;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;
            height: 96%;
            position: relative;
            bottom: 7.5%;

          }

          div.compteur{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            position: relative;
            margin: 15% 0 15% 0;
            width: 60%;

            div.nombre{
              width: 57px;
              height: 57px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: var(--color-Noir);
              border-radius: 50%;
              color: white;
              font-family: Lato;
              font-size: 28px;
              font-style: normal;
              font-weight: 400;
              line-height: 34px;
              letter-spacing: 0em;
              text-align: left;

            }


            div.retirer, div.ajouter{
              width: 39px;
              height: 39px;
              border: 3px solid rgba(191, 6, 40, 0.5);
              color: rgba(191, 6, 40, 0.5);
              font-weight: 700;
              font-size: rem(25);
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            div.ajouter{
              border: 3px solid var(--color-Rouge);
              color: var(--color-Rouge);
              font-weight: 900;
              font-size: rem(25);
            }

            p{
              margin: 0;
            }
          }
        }
      }
    }
  }

  div.container-large{
    height: 22%;
  }
}

div.container-double{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 43%;
  height: 22%;

  div.container-petit{
    height: 40%;
    width: 100%;
    position: relative;
  }

  div.container-petit:nth-of-type(2){
    height: 40%;
    width: 100%;
    position: relative;
    bottom: 13.3%;
  }
}