
nav.sous-menu{

  background-color: $white-grey;
  padding: 10px 0;

  position: relative;
  top:-300px;

  ul{
    display: flex;
    justify-content: space-around;

    list-style: none;

    margin: 0;

    li{

      .current{
        text-decoration: underline;

        font-weight: bold;
      }

      a{

        &:hover{
          text-decoration: underline;
          color: $black-grey;
        }


      }


    }
  }
}

section.un-resto{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 585px;
  color: var(--color-Noir);
  margin: 100px auto 200px;

  h3,h4,h5{
    font-family: $ff-normal;
  }

  h2{
    margin-top: 0;
    margin-bottom: 20px;
  }

  h4{
    font-size: rem(20);
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  h5{
    font-size: rem(18);
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 10px
  }

  p{
    font-weight: 300;
    font-size: rem(18);
    margin: 0;
  }

  article.infos-resto{
    padding: 15px;

    div.adresse{

      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;

      p{
        font-weight: 400;
      }

      img{
        height: 40px;
        width: auto;
        margin-right: 8px;
      }
    }

    div.telephone{
      display: flex;
      align-items: center;
      justify-content: flex-start;

      p{
        font-weight: 400;
      }

      img{
        height: 30px;
        width: auto;
        margin-left: 6px;
        margin-right: 10px;
      }
    }

    div.horaire{

      display: flex;
      flex-direction: column;
      height: 50px;
      justify-content: space-between;
      margin-left: 5px;

      margin-bottom: 40px;

    }

    div.commander{

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 360px;

      button.commander{
        height: 55px;
        font-size: rem(22);
        font-weight: 500;
        background-color: var(--color-Rouge);
        color: $white;
        border: none;
        width: 45%;
      }

      img{
        height: 55px;
        width: auto;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }

    }

  }


}