.information{
  padding-top: 883px;

  display: flex;

  div.premier-bloc{

    p{
      border-left: 3px solid $bleu;
      padding-left: 40px;

      margin: 8% 0 0 12%;

      width: 70%;

    }

  }

  div.deuxieme-bloc{

    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 90%;
      height: 675px;
    }

    p{

      width: 470px;
      line-height: 200% ;

      text-align: center;

      border-bottom: 3px solid $bleu;
      padding-bottom: 50px;

      margin:0 100px;
    }
  }



  p{
    font-size: $fz-h5;
    font-weight: 300;

    color: $black-grey;
  }

}

@media screen and (max-width: 1440px ) {
  .information{
    padding-top: 795px;

    div.premier-bloc{
      p{
        margin-top: 100px;
      }
    }
  }
}

@media screen and (max-width: $vw-medium) {
  section.information{
    display: flex;
    flex-direction: column;

    p{
      font-size: rem(26);
    }

    div.premier-bloc{
      p{
        margin:60px ;
      }
    }

    div.deuxieme-bloc{
      p{
        margin: 0 50px;
      }
    }
  }

}

@media screen and (max-width: $vw-small){

  section.information{
    margin-top: 90px ;

    div.premier-bloc{
      p{
        width: 70%;

        font-size: rem(18);
      }
    }

    div.deuxieme-bloc{
      display: flex;
      flex-direction: column;

      img{
        width: 100vw;
      }
      p{
        width: 70%;
        margin: 30px 0;
      }
    }
  }

}



