//---Menu Extras et Boissons---//

section.menu-supplementaire {
  display: flex;
  width: 70%;
  margin: 60px 15% 250px;
  justify-content: space-between;
  padding: 1.3%;



  h3.titre-section {
    border-top: 3px solid var(--color-Noir);
    border-bottom: 3px solid var(--color-Noir);
    width: 31.6%;
  }

  h3.boissons {
    width: 40%;
  }

  article.extras, article.boissons {
    width: 50%;
    color: var(--color-Noir);

    div.contour, div.contour-boissons {
      border: #0d3d8c 10px solid;
      width: 90%;
      height: 76.908%;
      position: relative;
      top: 2%;
    }

    div.contour-boissons{
      height: 55%;
    }

    div.menu-extras, div.menu-boissons {
      width: 90%;
      position: relative;
      background: #EFF0F4;
      border: 1px solid #adadb0;
      top: -69.5%;
      left: 7%;
      padding: 4%;

      h3 {
        font-size: rem(30);
        font-family: $ff-normal;
        font-weight: 400;
      }

      .item {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
      }

      .nom {
        padding: 0;
        margin: 0;
      }

      .dot {
        margin: 45px 10px;
        border-bottom: 4px dotted black;
        height: 10px;
        flex-grow: 1;
      }

      .prix {
        width: 23%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .prix-boissons {
        width: 10%;
      }

      .prix > p {
        margin: 0;
      }

      p.prix-unique-2-line {
        margin-bottom: 30px;
      }

      p.prix-unique-1-line {
        margin-top: 7px

      }

    }

    div.menu-boissons{
      top: -47.5%;
    }

  }
}

//---MENU PRINCIPAL TABLETTE---//

@media screen and (max-width: $vw-medium) {
  section.menu{

    width: 85%;

    article{
      width: 45%;


      div.menu-infos{

        h2{
          font-size: rem(36);
        }

        h4{
          font-size: rem(20);
        }

        p{
          font-size: rem(16);
        }

        h5{
          font-size: rem(16);
        }
      }
    }
  }

  section.menu-supplementaire{
    flex-direction: column;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;

    article.extras, article.boissons{
      width: 100%;
      top: -755px;

      div.contour, div.contour-boissons{
        height: 810px;
        width: 100%;
      }

      div.contour-boissons{
        height: 545px;
      }

      div.menu-extras, div.menu-boissons{
        width: 100%;
        top: -750px;
        margin-bottom: 40px;
      }

      div.menu-boissons{
        top: -490px;
      }

      h3.titre-section{
        width: 50%;
        font-size: rem(50);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }

      h3.boissons{
        width: 60%;
      }
    }

    article.extras{
      height: 1100px;

    }

    article.boissons{
      height: 800px;
    }
  }
}

@media screen and (max-width: $vw-small) {

  section.menu{
    article{
      width: 100%;
    }
  }

  section.menu-supplementaire{

    width: 80%;

    article.extras, article.boissons{

      div.menu-extras{

        top: -765px;
        div.item{
          h3{
            font-size: rem(18);
            margin-top: 40px;
          }

          p{
            font-size: rem(12);
          }

          p.prix-unique-2-line{
            margin-bottom: 0;
          }

          div.dot{
            border-bottom: 3px dotted var(--color-Noir);
          }
        }
      }

    h3.titre-section{
      width: 100%;
      font-size: rem(48);

    }
    }

    article.extras, article.boissons{

      div.menu-boissons{

        top: -505px;
        div.item{
          h3{
            font-size: rem(18);
            margin-top: 40px;
          }

          p{
            font-size: rem(12);
          }

          p.prix-unique-2-line{
            margin-bottom: 0;
          }

          div.dot{
            border-bottom: 3px dotted var(--color-Noir);
          }
        }
      }

      h3.titre-section boissons{
        width: 100%;
        font-size: rem(48);

      }
    }

  }
}