section.pub{

  height: 550px;

  h2{
  padding-top: 17%;
  }

  h2, p{
    color:$black-grey;
    font-family: $ff-normal;

    text-align: center;

    margin: 0;

  }

  img{
    width: 384px;

    position: relative;
    top:-108px;
   left: 1550px;
  }

  p.date_expiration{
    color: $white-grey;

    font-size: $fz-small;

    position: relative;
    top:-170px;
    left: 850px;
  }

}


@media screen and (max-width: 1440px ) {
  section.pub{
    img{
      top:-15%;
      left:73%
    }
  }
}

@media screen and (max-width: $vw-medium) {
  section.pub{
    //height: 200px;
    margin-bottom: 150px;

    h2{
      font-size: rem(40);
      padding-top: 50%;
    }

    p{
      font-size: rem(18);

      width: 50%;

      margin:20px 0 0 180px;
    }

    img{
      height: 232px;
      width: 200px;

      top:-28.5%;
      left: 75%;
    }

    p.date_expiration{
      left:40%;
      top:-40%;

      font-size: rem(12);
    }

  }


}

@media screen and (max-width: $vw-small){
section.pub{
  h2{
    font-size: rem(28);

    padding-top: 100%;
  }

  p{
    font-size: rem(12);

    margin-left: 100px;
  }

  p.date_expiration{
    top:-35%;
    left:25%;
  }

  img{
    top: -24%;
    left: 50%;

    z-index: -5;
  }
}


}