section.infolettre{

  div.border{
    width:100%;
    height:300px;

    background:$black-grey;
    float:left;

    outline: 3px solid $red;
    outline-offset: -25px;
  }


  h1{
   text-align: center;

    font-size: $fz-h4;

    width: 40%;

    margin: 0 30%;
    padding: 50px 0;

  }

  form{
    display: flex;
    justify-content: center;

    input{
      width: 450px;
      height: 50px ;

      padding: 10px;

      ::placeholder{
        color: rgba(29, 29,29, 0.3);
      }
    }

    .bouton a{
      padding: 5px 10px;

      background-color: $black-grey;
      color: $red;

      border: 3px solid $red ;

      font-size: $fz-h6;

      margin-left: 20px;

      display: flex;

    }

    .bouton a:hover{
     background-color: $red;
      color: $white-grey;
      transition: 0.2s ease-in;
    }


  }
}

@media screen and (max-width: $vw-medium) {
  section.infolettre{
    div.border{
      height: 350px;
    }

    h1{
      font-size: rem(30);

      width: 60%;

      margin: 0 20%;
    }

    form{
      flex-direction: column;

      input{
        margin-left: 160px;
      }

      div.bouton{
        margin: 20px 0 0 280px;

        width: 160px;
      }
    }
  }
}

@media screen and (max-width: $vw-small){
  section.infolettre {
    h1 {
      font-size: rem(22);
    }

    form{
      input{
        width: 250px;
        margin-left: 70px;
      }

      div.bouton{
        margin-left: 100px;

        a{
          font-size: rem(22);

          padding-left: 15px;
        }
      }
    }
  }
}