section.menu {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  //align-items: center;
  width: 70%;
  margin: 403px auto 0;

  article {
    background: var(--color-Bleu-medium);
    width: 30%;
    margin-bottom: 30px;

    img {
      width: 100%;
      margin-left: 5%;
      margin-top: 5%;
    }

    div.menu-infos {
      width: 95%;
      margin-left: 5.5%;

      h2, h4, h5, p {
        font-family: Lato;
        margin: 2% 0 2% 0;
        font-weight: 400;
      }

      h2 {
        font-size: rem(40);
      }

      h4 {
        font-size: rem(22);
      }

      h5 {
        margin: 3.5% 0 3.5% 0;
        font-weight: 800;
        font-size: rem(20);
      }

      p {
        font-weight: 300;
        width: 90%;
        height: 100px;
      }


      div.ligne {
        width: 20%;
        height: 2px;
        background: var(--color-Rouge);
        margin-top: 6%;

      }
    }
  }


  span.bold{
    font-weight: 700;
  }
}


