section.hero{

  background: url("../../images/hero.png") no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  position: absolute;
  top:0;

  z-index: -5;

  img{
    width: 432px;
    height: 289px;

    position: relative;
    top:500px;
    left: 70px;

  }
  img.carte-fidelite-mobile{
    display: none
  }

  div.partenaire{
    background-color: rgba(29, 29,29, 0.9);

    height: 124px;
    width: 100vw;

    position: relative;
    top:550px;

    img{
      height: 124px;

      position: relative;
      top:0;
      left: 0;

    }

    p{
      color: $white-grey;

      font-family: $ff-title;
      font-size: $fz-h6;

      position: relative;
      bottom: 87%;
      left: 50px;
    }

    div.livraison{

      display: flex;


      position: relative;
      bottom: 215px;
      left: 79%;

      a {

        img{
          width: 130px;
          height: 124px;
        }

      }

    }
  }

}

section.heroMenu{
  background-size: cover;
  width: 100vw;
  height: 400px;
  background: url("../../images/HeroMenu@2x.png") no-repeat center;

  position: absolute;
  top:0;

  z-index: -5;

  display: flex;
  align-items: center;
  justify-content: center;

  h1{
    border-bottom: 2px solid $white-grey;
    border-top: 2px solid $white-grey;
    color: #F7F7F7;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    margin-top: 110px;
    padding: 10px 0;
  }
}

section.hero-autres{
  background-color: $bleu-medieum;
  height: 500px;
  margin: -100px;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: -5;

  h1{

   margin-top: 180px;

    border-bottom: 2px solid $white-grey;
    border-top: 2px solid $white-grey;

    padding: 10px 0;
  }
}

section.hero-autres-commander{
  background-color: $bleu-medieum;
  height: 500px;
  margin-top: -100px;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: -5;

  h1{

    margin-top: 120px;

    border-bottom: 2px solid $white-grey;
    border-top: 2px solid $white-grey;

    padding: 10px 0;
  }
}

@media screen and (max-width: 1440px ) {
  section.hero{

    img.carte-fidelite{
      width: 350px;
    }

    img{
      height: 202px;
    }

    div.partenaire{
      div.livraison{
        left: 72%;
      }
    }


  }
}


@media screen and (max-width: $vw-medium) {
  section.hero {
    img.carte-fidelite {
      width: 300px;
    }

    div.partenaire{
      height: 100px;

      top:65%;

      img{
        height: 100px;
      }

      p{
        width: 30%;
        font-size: rem(20);

        margin-top: -5px;
      }

      div.livraison{

        top: -182%;
        left:62%;

        a{

          img{
            width: 100px;
            height: 100px;

        }
        }
      }
    }
  }
}

@media screen and (max-width: $vw-small) {
  section.hero{
    .carte-fidelite{
      display: none;
    }

   img.carte-fidelite-mobile{
      display:flex;

      width: 350px;
      height: 48px;

     left:20px;

    }

    div.partenaire{
      top:82%;

      img{
        width: 50%;
      }

      p{
        width: 70%;
      }

      div.livraison{

       a img{
          width: 130px;
         height: 130px;
        }
        margin: 120px 0 0 -240px;
      }
    }

  }

  section.heroMenu{

    h1{
      font-size: rem(48);
    }

  }

}